{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Forgot Your Password?{% endblock title %}

{% block content %}
<h1>Old Dogs-New Tricks</h1>
<h5>Who says old dogs can't learn new tricks?</h5>
<hr>
<br>
<br>
<h2>Forgot your password?</h2>
<br>
<br>
<br>
<p><h4>Enter your email address below, and we'll email instructions for setting a new one.</h4></p>
<br>
<form method="POST">
    {% csrf_token %}
    {{ form|crispy }}
  <input class="btn btn-success" type="submit" value="Send me instructions!">
</form>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock content %}

