{% extends "base.html" %} 

{% load static %}

{% block content %} 

<h1>Old Dogs-New Tricks</h1>
<h5>Who says old dogs can't learn new tricks?</h5>
<hr>
<br>
<p>
<h2> About Old Dogs-New Tricks </h2>
</p>
<br>

<div class="flex-container-about">

    <div class="flex-about-pic">
        <img src="{% static 'img/pic4.webp' %}" width="625px" height="500px">
    </div>

    <div class="flex-about-text">
        <p>
            Old Dogs-New Tricks is a simple, straightforward blog website where people who were born and raised in an analog era can gather to learn about software development and related topics. 
        </p>
        <p>
            At this time only registered users are able to create new post, ask questions, provide answers, leave comments, and up or down vote existing posts. But signing up is quick, free and easy! 
        </p>
        <p>
            Want to validate your opinion? Verify a hunch? Or just ask a simple question to find out how others might aprocah issues pertaining to software devlopement, building websites, user interfaces, and user experiences.
        </p>
        <p>
            The key is to keep things simple, blog post, comments, questions, and answers should avoid using technical language and industry jargon. Remember, this blog is for people who didn't grow up with computers!
        </p>
        <p>
            As always, inciting violence, using profanity, threatening or disrespecting others is strictly prohibited and will result in the immediate removal and permanent banning of your account. 
        </p>
        <p>
            So have fun, offer advice, ask questions and lets see if we can actually teach old dogs a few new tricks.
        </p>
    </div>

</div>
<br>
<br>

{% endblock %}
