{% extends "base.html" %} 
{% load crispy_forms_tags %}

{% load static %}

{% block content %} 

<h1>Old Dogs-New Tricks</h1>
<h5>Who says old dogs can't learn new tricks?</h5>
<hr>
<br>
<p>
    <h2> Contact Us </h2>
</p>
<br>
<div class="flex-container-contact">
<br>
    <div class="flex-contact-text">
    <p>
        Phone: (222) 333-4444
    </p>
<br>
<br>
    <p>
        Email: dogbyte@email.com
    </p>
<br>
<br>
    <p>
        Address: 
    </p>
    <p>
        &nbsp &nbsp Dog Byte Ventures
    </p>
    <p>
        &nbsp &nbsp 1234 This Street
    </p>
    <p>
        &nbsp &nbsp Anytown, AK  98765
    </p>
<br>
<br>
<br>
    <p>
        https://www.olddogs-newtricks.com
    </p>
    </div>

    <div class="flex-contact-pic">
        <img src="{% static 'img/pic5.jpg' %}" width="625px" height="500px">
    </div>
</div>
<br>
<br>
{% endblock %}
