<!-- {% extends "base.html" %} 
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load static %}

{% block content %} 

<h1>Welcome to Old Dogs-New Tricks</h1>
<h5>Where Old Dogs Go to Learn New Tricks</h5>
<br>
<p>
    <h4> Contact Us </h4>
</p>
<div class="flex-container-contact">
<br>
<br>
    <p>
        Phone: (222) 333-4444
    </p>
<br>
<br>
    <p>
        Email: dogbytes@email.com
    </p>
<br>
<br>
    <p>
        Address: 
    </p>
    <p>
        &nbsp &nbsp Dog Bytes Ventures
    </p>
    <p>
        &nbsp &nbsp 1234 This Street
    </p>
    <p>
        &nbsp &nbsp Anytown, AK  98765
    </p>
<br>
<br>
<br>
<br>
    <p>
        https://www.dogbytes.com
    </p>

</div>
<br>
<br>
<br>
<br>

{% endblock %} -->
