{% extends "base.html" %}
{% load static %}

{% block title %} Old Dogs-New Tricks {% endblock title %}

{% block content %}


{% if user.is_authenticated %}
<h1>Old Dogs-New Tricks</h1>
<h5>Who says old dogs can't learn new tricks?</h5>
<hr>
<br>
    <h3>Hi {{ user.username }}...Good to have you back again!</h3>
    <br>
    <div class="login-pic">
        <div>
            <img width="800" src="{% static 'img/pic6.jpg' %}"> 
        </div>
    </div>
{% else %}
    <h1>Old Dogs-New Tricks</h1>
    <h5>Who says old dogs can't learn new tricks?</h5>
<hr>
    <div class="home-pic">
        <div>
            <img  width="700" src="{% static 'img/pic2.png' %}"> 
        </div>
        <div>
            <img  width="700" src="{% static 'img/pic3.png' %}"> 
        </div>
    </div>
<br>
<br>
{% endif %}

{% endblock content %}
