{% extends "base.html" %}
{% load static %}

{% block title %} Old Dogs-New Tricks {% endblock title %}

{% block content %}


{% if user.is_authenticated %}
    <h1>Old Dogs-New Tricks</h1>
    <h5>Who says old dogs can't learn new tricks?</h5>
<hr>
<br>
    <h3>Hi {{ user.username }}...Good to have you back again!</h3>
    <br>
    <div class="flex-container-login-pic">
        <div>
            <img width="750" src="{% static 'img/pic6.jpg' %}" class="wdn-stretch rounded-corners"> 
        </div>
    </div>
<br>
<br>
{% else %}
    <h1>Old Dogs-New Tricks</h1>
    <h5>Who says old dogs can't learn new tricks?</h5>
<hr>
<br>
<br>
    <div class="flex-container-home-pic">
        <div>
            <img  width="800" src="{% static 'img/pic9.webp' %}" class="wdn-stretch rounded-corners"> 
        </div>
    </div>
<br>
<br>
{% endif %}
{% endblock content %}
